.coin
    position: absolute
    width: 100px
    top: 0%
    left: 0px
    animation-name: coin-move
    animation-duration: 10s
    animation-iteration-count: infinite
    animation-timing-function: linear
    transform: translateY(-100%)
    z-index: 1
    &.coin--small
        width: 50px
    &__img
        display: block
        width: 100%
        &.coin__img--long
            animation-duration: 5s

@keyframes coin-move
    0%
        top: 0%
    100%
        top: 100%
